.Signup-container{

   
    justify-content: center;
    align-items: center;
    

}
.signup-form{
    background-color: rgb(77, 56, 174);
    display: flex;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    height: 300px;
    width: 210px;
    margin-left: 600px;
    margin-top: 150px;
    border-radius: 10px;
    box-shadow: 0 0 100px rgba(79, 5, 215, 0.2);
    
}

