.homepage-container{
    background-color: blue;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.home-page{
    height: 100%;
    width:100%;
    background-color: aqua;
}