.login{
    
    justify-content: center;
    align-items: center;
    // height: 100vh;
    // perspective: 1000px;
}

.login-form{
    background-color: darkslategrey;
    display: flex;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    height: 300px;
    width: 200px;
    margin-left: 600px;
    margin-top: 150px;
    border-radius: 10px;
    box-shadow: 0 0 100px rgba(73, 20, 171, 0.2);
    
}

input{
margin-top: 20px;
height: 20px;
width: 90%;
border: 1px solid hsl(248, 18%, 83%);
border-radius: 5px;
}

button{
    margin-top: 20px;
    background-color: rgb(5, 116, 5);
    height: 20px;
    width: 60px;
    border-radius: 10px;
}
 
button:hover{

    background-color: rgb(16, 188, 16);
}
a{
    color: blue;
    padding: 5px;
    font-size: small;

}
span{
    text-align: center;
    justify-content: center;
    margin-left: 600px;


}