h1.title {
  font-size: 29px;
  color: blueviolet;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; /* Center align vertically */
}

img {
  display: block; /* Remove flex display for the image */
  margin: 0 auto; /* Center align horizontally */
  text-align: center; /* No effect on block-level elements like <img> */
}
/* .description{
  text-align: center;
  justify-content: center;
  margin-left:  100px;
} */